{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="card border-primary mb-3 w-50 custom-card" style="max-width: 20rem;">
        <div class="card-header fs-4">Register</div>
        <div class="card-body">
                    {% if form_errors(registrationForm) %}
                        <div class="alert alert-danger">{{ form_errors(registrationForm) }}</div>
                    {% endif %}
                    {{ form_start(registrationForm) }}
                    <div class="form-group custom-form-group">
                        {{ form_label(registrationForm.username, 'Username')}}
                        {{ form_widget(registrationForm.username, { 'attr': {'class':'form-control'} }) }}
                    </div>
                    <div class="form-group custom-form-group">
                        {{ form_label(registrationForm.mail, 'Email')}}
                        {{ form_widget(registrationForm.mail, { 'attr': {'class':'form-control'} }) }}
                    </div>
                     <div class="form-group custom-form-group">
                        {{ form_label(registrationForm.plainPassword.first)}}
                        {{ form_widget(registrationForm.plainPassword.first, { 'attr': {'class':'form-control'} }) }}
                    </div>
                    <div class="form-group custom-form-group">
                        {{ form_label(registrationForm.plainPassword.second)}}
                        {{ form_widget(registrationForm.plainPassword.second, { 'attr': {'class':'form-control'} }) }}
                    </div>
                    <div class="form-check custom-form-group">
                        <a href="#">{{ form_label(registrationForm.agreeTerms) }}</a>
                        {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class':'form-check-input'} }) }}
                    </div>

                    <button type="submit" class="btn btn-primary custon-form-btn">Register</button>
                    {{ form_end(registrationForm) }}


        </div>
    </div>


{% endblock %}
