{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


<div class="accordion" id="accordionContainer">

{% for user in users %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ user.username }}">
            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ user.username }}" aria-expanded="false" aria-controls="collapse-{{ user.username }}">
                {{user.id}} : {{user.username}}
            </button>
        </h2>
            <div id="collapse-{{ user.username }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ user.username }}" data-parent="#accordionContainer">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item">avatar : <img src="{{ asset(user.avatar, 'avatar') }}" class="minia" /></li>
                        <li class="list-group-item">Mail : {{user.mail}}</li>
                        <li class="list-group-item">Registration Date : {{user.registrationDate|date('d-m-Y' , 'europe/paris') }}</li>
                        <li class="list-group-item">
                            Role:
                            {% for role in user.roles %}
                            <span class="badge rounded-pill bg-secondary">{{role}}</span> 
                            {% endfor %}
                        </li>
                        <li class="list-group-item">
                            <a href="{{path('app_deleteUser', {'username' : user.username}) }}"><button class="btn btn-danger">Delete</button></a>
                            <a href="{{path('app_profilePage', {'username' : user.username}) }}"><button class="btn btn-warning">Profile</button></a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
{% endfor %}
</div>
{% endblock %}